<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="0.178175 -0.460286 0.410215" rpy="2.29687 2.76195 -1.85004" -->
  
  <node pkg="tf2_ros" type="static_transform_publisher" name="stuart_link_broadcaster"
      args="0.161439 -0.450002 0.634573   -0.224902 0.359725 0.469636 0.774247 panda_link0 stuart_link" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.561264 0.492395 0.641228   0.323446 0.293005 -0.623182 0.64898 panda_link0 bob_link" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="kevin_link_broadcaster"
      args="0.485824 -0.0385585 1.04753   -0.4950221, -0.5021105, 0.5032825, -0.4995447 panda_link0 kevin_link" />
</launch>
